#about
  %h2 Timber! -  a log viewer.

  %p Timber is a web application to view syslog-ng messages stored in mongoDB.

  %ul
    %li syslog-ng '>= 3.3'
    %li mongoDB   '>= 2.0.6'
    %li ruby      '>= 1.9.3'
    %li Dojo      '>= 1.8.0'

  %p Application is written in sinatra DSL and JavaScript, using mongoid ODM and Dojo toolkit.

  %ul
    %li require 'sinarta'
    %li require 'mongoid'
    %li require 'haml'
    %li require 'sass`
    %li require 'json'
    %li require 'yaml'