- if @pages > 1
  %div.paginate
    %span.stat
      Count: #{@total} Page #{@page} of #{@pages}
    %a.first{:href => "1"} First
    %a.prev{:href => "#{@prevpage}"} Prev
    %a.next{:href => "#{@nextpage}"} Next
    %a.last{:href => "0"} Last
%table{:id => "log_table"}
  %thead
    %tr
      %th Id
      %th{:id => "th_date"} Date
      %th{:id => "th_host"} Host
      %th{:id => "th_facility"} Facility
      %th{:id => "th_level"} Level
      %th{:id => "th_message"} Message
  %tbody
    - @messages.ascending(:_id).skip(@skip).limit(@lines).each do |m|
      %tr{:class => "row"}
        %td
          %a{:href => "/id/#{m[:_id]}"} #
        %td= "#{m.date}"
        %td
          %a{:href => "/host/#{m.host}"}= m.host
        %td
          %a{:href => "/facility/#{m.facility}"}= m.facility
        %td{:class => "#{m.level}"}
          %a{:href => "/priority/#{m.level}"}= m.level
        %td{:class => "message", :id => "#{m[:_id]}"}= "#{m.message}"
- if @pages > 1
  %div.paginate
    %span.stat
      Count: #{@total} Page #{@page} of #{@pages}
    %a.fisrt{:href => "1"} First
    %a.prev{:href => "#{@prevpage}"} Prev
    %a.next{:href => "#{@nextpage}"} Next
    %a.last{:href => "0"} Last
