!!!
%html(xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en")
  %head
    %title= @title ||= "timber!"
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %link{:href => '/images/bluepine.png', :rel => 'shortcut icon'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Courgette', :rel=>'stylesheet', :type=>'text/css'}
    %link{:href => '/screen.css', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => '/js/lib/dijit/themes/claro/claro.css', :rel => 'stylesheet', :type => 'text/css', :media => 'screen'}
    :javascript
      var dojoConfig = {
        async: true,
        parseOnLoad: false,
        baseUrl: "/js/",
        packages: [
          { name: "dojo",   location: "lib/dojo" },
          { name: "dijit",  location: "lib/dijit" },
          { name: "dojox",  location: "lib/dojox" },
          { name: "timber", location: "timber", main: "app" }
        ]
      };
    %script{:src=> '/js/lib/dojo/dojo.js', :type => 'text/javascript'}
    :javascript
      require([ "timber", "dojo/domReady!"], function(timber) {
        timber.init();
      });
  %body.claro
    #container
      #header
        #logo
          %h1
            %a{:href => '/'} Logs!
            #menu
              %a{:href => '/about'} about
              |
              %a{:href => '/stat'} stat
        #status
          #info
            %span= @info
      #side
      #content= yield
      #footer
        %p
          timber 0.3
          Copyleft
          %span.copyleft
            &copy
          2012
          %a{:href => "mailto:vadim.kuznetsov@gmail.com"} Vadim Kuznetsov
          All Wrongs Reserved.
