// blue pine color theme
$logo-color: #e3f1f4
$logo-background: #5e82a1

$header-color: #124e8c
$header-background: white

$footer-color: #c1c4c7
$footer-background: white

$font-family: Courgette

html, body
  height: 100%
  width: 100%
  margin: 0
  padding: 0

#container
  height: 100%
  width: 100%
  padding: 0
  text-align: left

h1
  margin: 0
  padding: 8px 0
  font-family: $font-family
  font-size: 130%
  color: $header-color
  background: $header-background

h2
  margin: 0
  padding: 7px 0
  font-family: $font-family
  font-size: 120%
  color: $header-color
  background: $header-background

h3
  margin: 0
  padding: 6px 0
  font-family: $font-family
  font-size: 110%
  color: $header-color
  background: $header-background

h4
  margin: 0
  padding: 5px 0
  font-family: $font-family
  font-size: 100%
  color: header-color
  background: $header-background

#header
  margin: 0

#logo
  position: relative
  background: $logo-background
  width: auto
  img
    float: left
    width: auto
    vertical-align: middle
  h1
    color: $logo-color
    background: $logo-background
    vertical-align: middle
    padding: 0.5em 1em 0.5em 1em
  a
    color: $logo-color
    text-decoration: none
    img
      border: none
    &:hover img
      border: none

#info
  padding-left: 1em
  font-size: 90%
  color: gray
  background: white
  a
    text-decoration: none

#log
  float: left
  font-size: 90%
  color: gray
  background: white

#side
  clear: both
  left: 0
  width: 14em

#menu
  display: inline
  padding-left: 3em
  h1, h2, h3
    display: none
  ul
    list-style-type: none
    list-style-image: url("/images/arrow-right-blue.png")
  a
    color: $logo-color
    text-decoration: none
  .ui-selecting
    list-style-image: url("/images/arrow-right-green.png")
  .ui-selected
    list-style-image: url("/images/arrow-right-red.png")

#content
  font-size: 95%
  padding: 1em
  th
    font-size: 90%
    font-weight: bold
    color: $header-color
    background-color: #cfcfe1
    padding-right: 1em
  td.firstcol
    font-size: 90%
    font-weight: bold
    color: $header-color
    padding-right: 1em
    text-align: right
  tr
    font-size: 90%
  .odd
    background-color: lavender
  .even
    background-color: white
  td
    padding-right: 1em
    a
      color: black
      text-decoration: none
    .debug
      color: #000014 !important
    .info
      color: #00cc00 !important
    .notice
      color: #cc6600 !important
    .warning
      color: #cc3300 !important
    .error, .err
      color: #660000 !important
    .alert
      color: #990000 !important
    .critical, .crit
      color: #cc0000 !important
    .emergency
      color: red !important
  .paginate
    font-size: 85%
    .stat
      padding-right: 2em
    a
      color: black
      text-decoration: none

.help
  font-size: 80%
  color: gray

.form
  width: 60%

#about
  font-family: $font-family

#footer
  p
    color: $footer-color
    font-family: $font-family
    font-size: 75%
    padding-left: 2em
  a
    color: $footer-color
    text-decoration: none

span.copyleft
  -webkit-transform: rotate(180deg)
  -moz-transform: rotate(180deg)
  -o-transform: rotate(180deg)
  -khtml-transform: rotate(180deg)
  -ms-transform: rotate(180deg)
  transform: rotate(180deg)
  display: inline-block
